@import 'utilities/variables'
@import 'utilities/mixins'
@import 'utilities/fonts'
// ANIMATIONS
.fade-in
  opacity: 0
  animation: fadeIn 0.5s ease-in 1 forwards

  @keyframes fadeIn
    to
      opacity: 1

// RESET CSS
*
  margin: 0px
  padding: 0px
  border: 0px
  font-weight: normal
  font-size: 100%
  font: inherit
  vertical-align: baseline
  list-style: none
  line-height: 1
  outline: 0px
  background: none
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-smoothing: antialiased
  transition: 0.4s
  font-family: 'Open Sans', sans-serif
.splide__pagination
  display: none !important
a,
a:visited,
a:hover,
a:active
  color: inherit
  text-decoration: none
  color: inherit
  cursor: pointer

body
  max-width: 100vw
  overflow-x: hidden
  color: $white

main
  max-width: 1374px
  margin: 30px auto

// SEÇÃO DE VÍDEOS
.sx-videos
  padding-bottom: 51px
  position: relative
  gap: 32px
  @include flex-c

  // CABEÇALHO DA SEÇÃO
  header
    @include flex-r-ac
    background-color: $gray-800
    border-radius: 8px
    padding: 23px 22px
    justify-content: space-between
    > h2
      color: $red-300
      font-weight: bold
      font-size: 28px
      line-height: 34px
    .side > a
      color: $gray-700
      font-size: 14px
      line-height: 16px
      border: 2px solid $gray-700
      border-radius: 4px
      gap: 12px
      margin-right: 124px
      padding: 14px 13px
      font-weight: bold
      @include flex-r-ac
      &:hover
        background-color: $gray-900
        border-color: $gray-900
        color: $red-300
        > svg path
          stroke: $red-300

  // CONTEÚDO DA SEÇÃO DE VÍDEOS
  .content
    display: flex
    gap: 22px
    // ÁREA DE DESTAQUE
    .highlight
      width: 100%
      border: 4px solid transparent
      border-radius: 8px
      max-width: 1029px
      height: 642px
      position: relative
      overflow: hidden
      cursor: pointer
      border-radius: 8px
      .iconPlayMobile
        display: none
      > img
        width: 100%
        border-radius: 8px
        object-fit: cover
        height: 100%
        position: absolute
      .text
        position: inherit
        padding: 50px 42px
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%)
        gap: 8px
        width: 100%
        height: 100%
        display: flex
        border-radius: 8px
        overflow: hidden
        align-items: start
        justify-content: flex-end
        @include flex-c
        > h3
          color: $red-300
          font-size: 12px
          line-height: 16px
          font-weight: 700
          text-transform: uppercase
        > h2
          color: $white
          font-size: 26px
          line-height: 30px
          font-weight: 700
        > svg
          width: 60px
          height: 60px
          margin-bottom: 8px
      &:hover
        border-color: $red-300
        border-radius: 8px
        .text > svg path
          fill: $red-300

    // CARROSSEL DE VÍDEOS
    .videosCarrossel
      width: 100%
      max-width: 327px
      @include flex-c
      .splide__arrows.splide__arrows--ttb
        display: flex
        position: absolute
        right: 20px
        gap: 12px
        top: -103px
      .splide__arrows > button
        width: 48px
        height: 48px
        cursor: pointer
        justify-content: center
        @include flex-r-ac
        background-color: #000
        opacity: 0.7
        border-radius: 4px
      .splide__arrows > button > svg path
        fill: $red-100
      button.splide__arrow.splide__arrow--prev
        transform: rotate(270deg)
      button.splide__arrow.splide__arrow--next
        transform: rotate(90deg)
      .splide__arrows > button > svg
        width: 14px
        fill: $gray-700
      .splide__track,
      .splide__list
        width: 100%
      .splide__slide
        max-width: 327px
        max-height: 304px
      .video-card
        @include flex-c
        cursor: pointer
        overflow: hidden
        position: relative
        > figure
          @include flex-c
          position: relative
          max-height: 203px
          > img
            width: 327px
            height: 203px
            object-fit: cover
          > figcaption
            border: 5px solid $red-300
            border-radius: 8px 8px 0 0
            opacity: 0
            width: 100%
            height: 100.5%
            position: absolute
            align-items: end
            justify-content: end
            padding: 16px
            @include flex-c
            .comments
              color: $red-100
              font-weight: 700
              font-size: 12px
              line-height: 16px
              gap: 8px
              @include flex-r-ac
        > .text
          background-color: $gray-800
          border-radius: 8px 8px 0px 0px
          padding: 16px
          gap: 8px
          @include flex-c
          border-radius: 0 0 4px 4px
          > h3
            font-weight: 700
            font-size: 12px
            line-height: 16px
            color: $red-300
            text-transform: uppercase
          > h2
            color: $white
            font-weight: 700
            font-size: 16px
            line-height: 22px
        > .playIcon
          position: absolute
          width: 33px
          height: 33px
          top: 16px
          left: 16px

        &:hover
          > .text
            background-color: $gray-900
          > figure
            > figcaption
              opacity: 1
          > .playIcon path
            fill: $red-300

  // BACKGROUND DA SEÇÃO DE VÍDEOS
  .bg
    position: absolute
    width: 100vw
    min-width: 1702px
    height: 95%
    z-index: -1
    top: 40px
    left: -52px
    border-radius: 8px
    background-image: $black-gradient

// SEÇÃO DE COLUNISTAS
.sx-colunistas
  width: 100%
  gap: 16px
  margin-top: 64px
  @include flex-c

  // CABEÇALHO DA SEÇÃO
  header
    background-color: $gray-300
    padding: 23px 22px
    justify-content: space-between
    border-radius: 8px
    @include flex-r-ac

    h2
      color: $red-700
      font-size: 28px
      line-height: 34px
      font-weight: 700
    a
      display: none
      width: 48px
      height: 48px
      justify-content: center
      align-items: center
      border-radius: 4px
      background-color: $white
      > svg
        width: 10px
        height: 10px
        > path
          fill: $red-700
      &:hover
        background: rgb(230,27,35)
        background: linear-gradient(133deg, rgba(230,27,35,1) 0%, rgba(122,25,32,1) 100%)
        > svg path
          fill: $white
  .splide__arrows > button
    width: 48px
    cursor: pointer
    height: 48px
    justify-content: center
    @include flex-r-ac
    border: 1px solid $gray-500
    opacity: 0.7
    border-radius: 4px

  .splide__arrows > button > svg
    width: 14px
    fill: $gray-700

  .splide__arrows.splide__arrows--ltr
    position: absolute
    right: 22px
    top: -87px
    display: flex
    gap: 12px

  .splide__arrow--prev svg
    transform: scaleX(-1)

  .sx-colunista-card
    background-color: $gray-300
    border-radius: 8px
    padding: 20px 22px
    align-items: center
    max-width: 209px
    max-height: 269px
    overflow: hidden
    @include flex-r-ac
    gap: 48px
    .content
      @include flex-c
      width: 100%
      height: 100%
      min-width: 408px
      gap: 8px
      h4
        font-weight: bold
        font-size: 14px
        line-height: 19px
        color: $red-700
      h3
        font-size: 20px
        line-height: 24px
        color: $gray-900
        font-weight: bold
      p
        font-weight: bold
        font-size: 16px
        line-height: 22px
        color: $gray-700
    .info
      align-items: center
      @include flex-c
      gap: 18px
    .info > img
      width: 165px
      height: 165px
      border-radius: 8px
      background-color: #c9c9c9
      object-fit: cover
    .info > h3
      color: $gray-900
      font-weight: bold
      font-size: 16px
      line-height: 22px
      text-align: center
      max-width: 140px
      vertical-align: middle
    &:hover
      max-width: 675px
      .info > h3
        color: $red-700
      .info > img
        background-color: #72f29e

// INÍCIO DA RESPONSIVIDADE
@media (max-width: 1400px)
  .sx-videos header
    margin: 0 20px
  .sx-videos .content
    padding: 0 20px
  .sx-colunistas
    header
      margin: 0 20px
    .splide__arrows.splide__arrows--ltr
      right: 42px
    .splide__slide:first-of-type
      margin-left: 20px
    .splide__slide:last-of-type
      margin-right: 20px

// RESPONSIVIDADE
@media (max-width: 850px)
  .splide__arrows
    display: none !important
  .sx-videos
    padding: 30px 0 24px
    header
      .side > a
        margin-right: 0
        font-size: 0
        gap: 0
        width: 48px
        display: flex
        align-items: center
        justify-content: center
    .content
      flex-direction: column
      padding: 0
      .highlight
        max-width: calc(100% - 40px)
        margin: auto
        height: 304px
        display: flex
        align-items: end
        border: unset
        .iconPlayMobile
          z-index: 1
          display: block
          width: 33px !important
          height: 33px !important
          top: 20px
          left: 20px
        &:hover
          border: unset
        .text
          padding: 16px
          background-color: #333333
          background-image: unset
          border-radius: 8px 8px 0px 0px
          padding: 16px
          gap: 8px
          display: flex
          flex-direction: column
          min-height: 100px
          height: fit-content
          border-radius: 0 0 4px 4px
          > svg
            display: none
          > h2
            font-size: 16px
            line-height: 22px
      .videosCarrossel
        max-width: unset
        .splide__slide:first-of-type
          margin-left: 20px
    .bg
      height: 105%
      top: -40px
  .sx-colunistas
    margin-top: 48px
    header
      a
        display: flex
    .sx-colunista-card
      &:hover
        max-width: 209px
