@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap';
.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in 1 forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-weight: normal;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style: none;
  line-height: 1;
  outline: 0px;
  background: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  transition: 0.4s;
  font-family: "Open Sans", sans-serif;
}

.splide__pagination {
  display: none !important;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #fff;
}

main {
  max-width: 1374px;
  margin: 30px auto;
}

.sx-videos {
  padding-bottom: 51px;
  position: relative;
  gap: 32px;
  display: flex;
  flex-direction: column;
}
.sx-videos header {
  display: flex;
  align-items: center;
  background-color: #333333;
  border-radius: 8px;
  padding: 23px 22px;
  justify-content: space-between;
}
.sx-videos header > h2 {
  color: #ED686B;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
}
.sx-videos header .side > a {
  color: #707070;
  font-size: 14px;
  line-height: 16px;
  border: 2px solid #707070;
  border-radius: 4px;
  gap: 12px;
  margin-right: 124px;
  padding: 14px 13px;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.sx-videos header .side > a:hover {
  background-color: #222222;
  border-color: #222222;
  color: #ED686B;
}
.sx-videos header .side > a:hover > svg path {
  stroke: #ED686B;
}
.sx-videos .content {
  display: flex;
  gap: 22px;
}
.sx-videos .content .highlight {
  width: 100%;
  border: 4px solid transparent;
  border-radius: 8px;
  max-width: 1029px;
  height: 642px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
}
.sx-videos .content .highlight .iconPlayMobile {
  display: none;
}
.sx-videos .content .highlight > img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  height: 100%;
  position: absolute;
}
.sx-videos .content .highlight .text {
  position: inherit;
  padding: 50px 42px;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  gap: 8px;
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  align-items: start;
  justify-content: flex-end;
  display: flex;
  flex-direction: column;
}
.sx-videos .content .highlight .text > h3 {
  color: #ED686B;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.sx-videos .content .highlight .text > h2 {
  color: #fff;
  font-size: 26px;
  line-height: 30px;
  font-weight: 700;
}
.sx-videos .content .highlight .text > svg {
  width: 60px;
  height: 60px;
  margin-bottom: 8px;
}
.sx-videos .content .highlight:hover {
  border-color: #ED686B;
  border-radius: 8px;
}
.sx-videos .content .highlight:hover .text > svg path {
  fill: #ED686B;
}
.sx-videos .content .videosCarrossel {
  width: 100%;
  max-width: 327px;
  display: flex;
  flex-direction: column;
}
.sx-videos .content .videosCarrossel .splide__arrows.splide__arrows--ttb {
  display: flex;
  position: absolute;
  right: 20px;
  gap: 12px;
  top: -103px;
}
.sx-videos .content .videosCarrossel .splide__arrows > button {
  width: 48px;
  height: 48px;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #000;
  opacity: 0.7;
  border-radius: 4px;
}
.sx-videos .content .videosCarrossel .splide__arrows > button > svg path {
  fill: #F6D0D1;
}
.sx-videos .content .videosCarrossel button.splide__arrow.splide__arrow--prev {
  transform: rotate(270deg);
}
.sx-videos .content .videosCarrossel button.splide__arrow.splide__arrow--next {
  transform: rotate(90deg);
}
.sx-videos .content .videosCarrossel .splide__arrows > button > svg {
  width: 14px;
  fill: #707070;
}
.sx-videos .content .videosCarrossel .splide__track,
.sx-videos .content .videosCarrossel .splide__list {
  width: 100%;
}
.sx-videos .content .videosCarrossel .splide__slide {
  max-width: 327px;
  max-height: 304px;
}
.sx-videos .content .videosCarrossel .video-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.sx-videos .content .videosCarrossel .video-card > figure {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: 203px;
}
.sx-videos .content .videosCarrossel .video-card > figure > img {
  width: 327px;
  height: 203px;
  object-fit: cover;
}
.sx-videos .content .videosCarrossel .video-card > figure > figcaption {
  border: 5px solid #ED686B;
  border-radius: 8px 8px 0 0;
  opacity: 0;
  width: 100%;
  height: 100.5%;
  position: absolute;
  align-items: end;
  justify-content: end;
  padding: 16px;
  display: flex;
  flex-direction: column;
}
.sx-videos .content .videosCarrossel .video-card > figure > figcaption .comments {
  color: #F6D0D1;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  gap: 8px;
  display: flex;
  align-items: center;
}
.sx-videos .content .videosCarrossel .video-card > .text {
  background-color: #333333;
  border-radius: 8px 8px 0px 0px;
  padding: 16px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
}
.sx-videos .content .videosCarrossel .video-card > .text > h3 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #ED686B;
  text-transform: uppercase;
}
.sx-videos .content .videosCarrossel .video-card > .text > h2 {
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.sx-videos .content .videosCarrossel .video-card > .playIcon {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 16px;
  left: 16px;
}
.sx-videos .content .videosCarrossel .video-card:hover > .text {
  background-color: #222222;
}
.sx-videos .content .videosCarrossel .video-card:hover > figure > figcaption {
  opacity: 1;
}
.sx-videos .content .videosCarrossel .video-card:hover > .playIcon path {
  fill: #ED686B;
}
.sx-videos .bg {
  position: absolute;
  width: 100vw;
  min-width: 1702px;
  height: 95%;
  z-index: -1;
  top: 40px;
  left: -52px;
  border-radius: 8px;
  background-image: linear-gradient(93.03deg, #222222 0.41%, #2E2E2E 98.74%);
}

.sx-colunistas {
  width: 100%;
  gap: 16px;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
}
.sx-colunistas header {
  background-color: #E9E9E9;
  padding: 23px 22px;
  justify-content: space-between;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.sx-colunistas header h2 {
  color: #9A0000;
  font-size: 28px;
  line-height: 34px;
  font-weight: 700;
}
.sx-colunistas header a {
  display: none;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #fff;
}
.sx-colunistas header a > svg {
  width: 10px;
  height: 10px;
}
.sx-colunistas header a > svg > path {
  fill: #9A0000;
}
.sx-colunistas header a:hover {
  background: rgb(230, 27, 35);
  background: linear-gradient(133deg, rgb(230, 27, 35) 0%, rgb(122, 25, 32) 100%);
}
.sx-colunistas header a:hover > svg path {
  fill: #fff;
}
.sx-colunistas .splide__arrows > button {
  width: 48px;
  cursor: pointer;
  height: 48px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 1px solid #A8A8A8;
  opacity: 0.7;
  border-radius: 4px;
}
.sx-colunistas .splide__arrows > button > svg {
  width: 14px;
  fill: #707070;
}
.sx-colunistas .splide__arrows.splide__arrows--ltr {
  position: absolute;
  right: 22px;
  top: -87px;
  display: flex;
  gap: 12px;
}
.sx-colunistas .splide__arrow--prev svg {
  transform: scaleX(-1);
}
.sx-colunistas .sx-colunista-card {
  background-color: #E9E9E9;
  border-radius: 8px;
  padding: 20px 22px;
  align-items: center;
  max-width: 209px;
  max-height: 269px;
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: 48px;
}
.sx-colunistas .sx-colunista-card .content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-width: 408px;
  gap: 8px;
}
.sx-colunistas .sx-colunista-card .content h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #9A0000;
}
.sx-colunistas .sx-colunista-card .content h3 {
  font-size: 20px;
  line-height: 24px;
  color: #222222;
  font-weight: bold;
}
.sx-colunistas .sx-colunista-card .content p {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #707070;
}
.sx-colunistas .sx-colunista-card .info {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.sx-colunistas .sx-colunista-card .info > img {
  width: 165px;
  height: 165px;
  border-radius: 8px;
  background-color: #c9c9c9;
  object-fit: cover;
}
.sx-colunistas .sx-colunista-card .info > h3 {
  color: #222222;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  max-width: 140px;
  vertical-align: middle;
}
.sx-colunistas .sx-colunista-card:hover {
  max-width: 675px;
}
.sx-colunistas .sx-colunista-card:hover .info > h3 {
  color: #9A0000;
}
.sx-colunistas .sx-colunista-card:hover .info > img {
  background-color: #72f29e;
}

@media (max-width: 1400px) {
  .sx-videos header {
    margin: 0 20px;
  }
  .sx-videos .content {
    padding: 0 20px;
  }
  .sx-colunistas header {
    margin: 0 20px;
  }
  .sx-colunistas .splide__arrows.splide__arrows--ltr {
    right: 42px;
  }
  .sx-colunistas .splide__slide:first-of-type {
    margin-left: 20px;
  }
  .sx-colunistas .splide__slide:last-of-type {
    margin-right: 20px;
  }
}
@media (max-width: 850px) {
  .splide__arrows {
    display: none !important;
  }
  .sx-videos {
    padding: 30px 0 24px;
  }
  .sx-videos header .side > a {
    margin-right: 0;
    font-size: 0;
    gap: 0;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sx-videos .content {
    flex-direction: column;
    padding: 0;
  }
  .sx-videos .content .highlight {
    max-width: calc(100% - 40px);
    margin: auto;
    height: 304px;
    display: flex;
    align-items: end;
    border: unset;
  }
  .sx-videos .content .highlight .iconPlayMobile {
    z-index: 1;
    display: block;
    width: 33px !important;
    height: 33px !important;
    top: 20px;
    left: 20px;
  }
  .sx-videos .content .highlight:hover {
    border: unset;
  }
  .sx-videos .content .highlight .text {
    padding: 16px;
    background-color: #333333;
    background-image: unset;
    border-radius: 8px 8px 0px 0px;
    padding: 16px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    min-height: 100px;
    height: fit-content;
    border-radius: 0 0 4px 4px;
  }
  .sx-videos .content .highlight .text > svg {
    display: none;
  }
  .sx-videos .content .highlight .text > h2 {
    font-size: 16px;
    line-height: 22px;
  }
  .sx-videos .content .videosCarrossel {
    max-width: unset;
  }
  .sx-videos .content .videosCarrossel .splide__slide:first-of-type {
    margin-left: 20px;
  }
  .sx-videos .bg {
    height: 105%;
    top: -40px;
  }
  .sx-colunistas {
    margin-top: 48px;
  }
  .sx-colunistas header a {
    display: flex;
  }
  .sx-colunistas .sx-colunista-card:hover {
    max-width: 209px;
  }
}

/*# sourceMappingURL=main.css.map */
